---
---


@import "minimal-mistakes/skins/default";   // loads the skin
@import "minimal-mistakes";                 // loads the framework



.container {
  max-width: 2000px !important;
}

.initial-content {
  max-width: 2000px !important;
}
