---
---

$max-width: 1800px;

@import "minimal-mistakes/skins/default";   // loads the skin
@import "minimal-mistakes";                 // loads the framework


.page__footer {
  outline: 2px solid red;
}


