---
---


@import "minimal-mistakes/skins/default";   // loads the skin
@import "minimal-mistakes";                 // loads the framework

.page,
.page__content,
.page__inner-wrap,
.wrapper {
  max-width: 1600px !important;   
}

