---
---

$max-width: 1800px;

@import "minimal-mistakes/skins/default";   // loads the skin
@import "minimal-mistakes";                 // loads the framework




/* ===== FORCE COMPACT FOOTER (Minimal Mistakes) ===== */

.page__footer {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: left;
}

.page__footer footer {
  margin: 0 !important;
  padding: 0 !important;
}

.page__footer .site-footer {
  padding: 0 !important;
  margin: 0 !important;
}

.page__footer .wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.page__footer p {
  margin: 0 !important;
  line-height: 1.2 !important;
}

